{% extends 'blog/base.html' %}

{% block title %}Relationships{% endblock %}

{% block content %}
<div class="container">
                <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Relationships</a>
                </div>
            </nav> 

<div class="row clearfix">
            <div class="col-md-9 column">
            {% if relationships %}
            {% if type == 'Following' %}
            <div class="cell3">
                        <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Following Users</a>
                </div>
            </nav>
            <table class="table">
                        <tbody>{% for user in relationships %}<tr><td>
                        <a href="{% url 'blog:user' user.id 'homepage' %}">{{ user.username }}</a></td><td>
                    <form action="{% url 'blog:user' user.id 'follow' %}" method="post">
                        <input type="hidden" name="next_page" value="following"/>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Unfollow</button>
                    </form>
                    </td></tr>{% endfor %}</tbody></table>
            </div><br>
            {% else %}
            <div class="cell3">
                        <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Following Users</a>
                </div>
            </nav>
            <table class="table">
                        <tbody>{% for follow in relationships %}<tr><td>
                        <a href="{% url 'blog:user' follow.from_user.id 'homepage' %}">{{ follow.from_user.username }}</a></td><td>
                    {% if follow.from_user in log_user.follow.all %}
                            <button class="btn btn-success">Followed</button>
                        {% else %}
                            <form action="{% url 'blog:user' follow.from_user.id 'follow' %}" method="post">
                                <input type="hidden" name="next_page" value="follower"/>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Follow</button>
                            </form>
                        {% endif %}
                    </td></tr>{% endfor %}</tbody></table>
            </div>{% endif %}
            {% else %}<div class="cell3">
            <p>Empty</p></div>
            {% endif %}
            </div>
<div class="col-md-3 column">        <table>
            <tbody>
        <tr>
        <td>
                                        <div class="cell3">
                                        <table class="table table-bordered">
  <thead>
    <tr>
      <th><h1>Hot Blog</h1>
                         </th>
    </tr>
    </thead><tbody>
        {% if popularity %}<tr><td>
        
            {% for blog in popularity %}
                {% if blog.fwd_blog %}
                     <a href="{% url 'blog:blog' blog.id 'view' %}">{{ forloop.counter }}. Forward: {{ blog.blog_title }}</a>
                     <a href="{% url 'blog:blog' blog.fwd_blog.id 'view' %}">
                        {{ blog.fwd_blog.blog_title }}</a></p>
                    <p>Popularity: {{ blog.popularity }}</p>
                {% else %}
                     <a href="{% url 'blog:blog' blog.id 'view' %}">{{ forloop.counter }}. {{ blog.blog_title }}</a>
                     <p>Popularity: {{ blog.popularity }}</p>
                {% endif %}
            {% endfor %}
        
        <br></td></tr>
    {% endif %}
    </tbody></table>

                  </div>
  </td>
  </tr>              </tbody> </table> 
    </div>
            </div></div>
{% endblock %}